.intro {
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
    width: 100%;
    height: 1080px;
    z-index: 2;
}
.title2 {
    font-size: 50px;
    font-family: "LINESeedKR-Rg";
    color: rgba(240,240,240,80%);
    line-height: 1.2;
    -moz-transform: matrix( 1.27175486677865,0,0,1.27175486677865,0,0);
    -webkit-transform: matrix( 1.27175486677865,0,0,1.27175486677865,0,0);
    -ms-transform: matrix( 1.27175486677865,0,0,1.27175486677865,0,0);
    position: absolute;
    top:55%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 11;
}
.title1 {
    font-size: 127px;
    font-family: "LINESeedKR-Bd";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    -moz-transform: matrix( 1.27175486677865,0,0,1.27175486677865,0,0);
    -webkit-transform: matrix( 1.27175486677865,0,0,1.27175486677865,0,0);
    -ms-transform: matrix( 1.27175486677865,0,0,1.27175486677865,0,0);
    position: absolute;
    top:45%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 6;
}
.SCROLL_DOWN {
    font-size: 12px;
    font-family: "LINESeedKR-Rg";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    top:85%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 56;
}
.Ellipse {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top:80%; left:50%; transform:translate(-50%, -50%);
    width: 5px;
    height: 5px;
    z-index: 55;
}
.Rectangle {
    border-width: 2px;
    position: absolute;
    left: 944px;
    top: 873px;
    top:80%; left:50%; transform:translate(-50%, -50%);
    width: 33px;
    height: 53px;
    z-index: 54;
}
.intro-center {
    position: absolute;
    width: 100%;
    height: 1080px;
    z-index: 1;
    left:50%;
    transform:translate(-50%, 0%);
}