.intro {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: black;
}
.introTitle {
    position: fixed;
    top: 200px;
    left: 5%;
    z-index: 1;
    text-align: left;
    font-family: NotoSansKR-Black;
    color: aliceblue;
    font-size: 50px;
}
.introVideo {
    z-index: 0;
    position: fixed;
    top:-200px;
}
