body {
    margin: 0;
    padding: 0;
}
.all-scale {
    scale: 100%;
    height: 100%;
}
@font-face {
    font-family: "LINESeedKR-Bd";
    src: url("./font/LINESeedKR-Bd.ttf");
}
@font-face {
    font-family: "LINESeedKR-Rg";
    src: url("./font/LINESeedKR-Rg.ttf");
}